<div style="margin: 20px;">
  <h1>AW Info Beta</h1>
  <h5 style="color:gray">Currently in Beta. Donations to "axoto.wam"</h5>
  <div>
    <div>
      <div style="display: flex;">
        <div>
          <mat-form-field style="margin-right:20px">
            <mat-label>Wax Account</mat-label>
            <input matInput type="text" [(ngModel)]="account" [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="find()">Find</button>
        </div>
      </div>
      <div *ngIf="!!accountData">
        <h2 style="margin-block-start:0px; margin-block-end:0px">Resources</h2>
        <div style="display: flex;">
          <div style="margin-right:10px;" [hidden]="!cpuPercent">
            <mat-card>
              <mat-card-header>
                <mat-card-title>CPU</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-label style="align-self: flex-start;">Used: <strong>{{cpuUsed}} ms</strong> from
                  <strong>{{cpuMax}}ms</strong> </mat-label>
                <mat-progress-bar style="height: 20px; max-width: 400px;" mode="determinate" value="{{cpuPercent}}">
                </mat-progress-bar>
                <div style="position: absolute; padding: 10px; color: white;top:60px;"> {{cpuPercent}}% </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div [hidden]="!ramPercent">
            <mat-card>
              <mat-card-header>
                <mat-card-title>RAM</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-label style="align-self: flex-start;">Used: <strong>{{ramUsed}} KB</strong> from <strong>{{ramMax}}
                    KB</strong> </mat-label>
                <mat-progress-bar color="accent" style="height: 20px; max-width: 400px;" mode="determinate"
                  value="{{ramPercent}}">
                </mat-progress-bar>
                <div style="position: absolute; padding: 10px; color: white;top:60px;"> {{ramPercent}}% </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div *ngIf="tlms && tlms.length > 0">
        <h2>TLM</h2>
        <p *ngIf="tlms && tlms.length > 0" style="margin-top: 0px;">Mined <strong>{{tlmCount}}</strong> time/s last
          <strong>24hs</strong>. <strong> TOTAL: {{ totalTlm
        }} TLM </strong> Mined
        </p>
        <mat-chip-list aria-label="TLM">
          <mat-chip *ngFor="let tlm of tlms" color="primary" selected>{{tlm}} TLM</mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="items && items.length > 0">
        <h2>NFTs</h2>
        <p style="margin-top: 0px;">New NFTs to Claim: <strong>{{ this.nftsToClaim }}</strong></p>
        <div style="display:flex;">
          <mat-chip-list style="margin-right: 20px;" aria-label="NFT">
            <mat-chip *ngFor="let temp of templates" class="{{temp.rarity.toLowerCase()}}" selected>{{temp.name}}</mat-chip>
          </mat-chip-list>
          <a [hidden]="nftsToClaim == 0"
            href="https://wax.bloks.io/account/m.federation?loadContract=true&tab=Actions&account=m.federation&scope=m.federation&limit=100&action=claimnfts"
            target="_blank">Claim on Bloks.io</a>
        </div>
        <p style="margin-top: 20px;">Total AW NFTs: <strong>{{items && items.length ? items.length : 0 }}</strong></p>
        <div style="margin-bottom: 20px;">
          <mat-chip-list aria-label="NFT">
            <mat-chip color="primary" style="background-color: gray;
    color: #fff;" selected>Abundants: {{ abundants }}</mat-chip>
            <mat-chip color="primary" style="background-color: black;
    color: #fff;" selected>Commons: {{ commons }}</mat-chip>
            <mat-chip color="primary" selected>Rares: {{ rares }}</mat-chip>
            <mat-chip color="primary" style="background-color: purple;
    color: #fff;" selected>Epics: {{ epics }}</mat-chip>
            <mat-chip color="primary" style="background-color: goldenrod;
    color: #fff;" selected>Legendaries: {{ legendaries }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div class="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div [hidden]="!items || items.length  == 0" class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Id </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> <a href="{{row.imgLink}}" target="_blank">{{row.name}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let row"> {{row.type}} </td>
        </ng-container>

        <ng-container matColumnDef="rarity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rarity </th>
          <td mat-cell *matCellDef="let row" class="{{row.rarity.toLowerCase()}}"> {{row.rarity}} </td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
          <td mat-cell *matCellDef="let row" style="padding-left: 10px;"> {{row.timestampLocale}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="action-link">
            <button mat-raised-button color="primary" (click)="getLogRand(row)">LogRand</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="luck">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Luck </th>
          <td mat-cell *matCellDef="let row"> {{row.luck}} </td>
        </ng-container>
        <ng-container matColumnDef="rand1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rand1 </th>
          <td mat-cell *matCellDef="let row"> {{row.rand1}} </td>
        </ng-container>

        <ng-container matColumnDef="rand2" style="margin-left:10px">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rand2 </th>
          <td mat-cell style="margin-left:10px" *matCellDef="let row"> {{row.rand2}} </td>
        </ng-container>

        <ng-container matColumnDef="rand3" style="margin-left:10px">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rand3 </th>
          <td mat-cell style="margin-left:10px" *matCellDef="let row"> {{row.rand3}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>