h1 {
  font-family: Lato;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
td,
th {
  width: 10%;
}
.rarity {
  padding-left: 10px;
  color: white!important;
}
.abundant {
  @extend .rarity;
  background-color: gray!important;
}

.common {
  @extend .rarity;
  background-color: black!important;
}
.rare {
  @extend .rarity;
  background-color: blue!important;
}
.epic {
  @extend .rarity;
  background-color: purple!important;
}
.legendary {
  @extend .rarity;
  background-color: goldenrod!important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
