@import '~@angular/material/theming';
@include mat-core();

// default theme:
$primary: mat-palette($mat-indigo, 500);
$secondary: mat-palette($mat-indigo, 400);
$accent: mat-palette($mat-pink, 400);
// $theme: mat-light-theme($primary, $accent);

// @include angular-material-theme($theme);

// // "dark" theme
// $dark-p: mat-palette($mat-blue-grey, 500);
// $dark-a: mat-palette($mat-blue-grey,900);
// $dark-t: mat-dark-theme($dark-p, $dark-a);

// .darkTheme {
//   @include angular-material-theme($dark-t);
// }

h1 {
  font-family: Lato;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
td,
th {
  width: 25%;
}
.rarity {
  padding-left: 10px;
  color: white!important;
}
.abundant {
  @extend .rarity;
  background-color: gray!important;
}

.common {
  @extend .rarity;
  background-color: black!important;
}
.rare {
  @extend .rarity;
  background-color: blue!important;
}
.epic {
  @extend .rarity;
  background-color: purple!important;
}
.legendary {
  @extend .rarity;
  background-color: goldenrod!important;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
    border: 1px white solid !important;
    // margin-top: 5px !important;
    // padding: 0 5px !important;
    z-index: 3 !important;
    background-color: mat-color($primary) !important;
    color: white !important;
}

mat-button-toggle:hover {
    border: 1px white solid !important;
	  // box-shadow: 0 0 20px #000 !important;
    background-color: mat-color($accent) !important;
    border-radius: 5px !important;
}

.mat-button-toggle-checked {
    border: 1px white solid !important;
    border-radius: 5px !important;
    background-color: mat-color($accent) !important;
    color: white !important;
}

.mat-button-toggle-input {
    background-color: none !important;
    padding-left: 32px !important;
}
